h2{
    font-family: cursive;
}
.vant{
    font-family: cursive;
    color: rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.257);
    border-radius: 10px;
}
.bus{
    font-family: cursive;
    color: rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.257);
    border-radius: 10px;
}
.avtov{
     font-family: cursive;
    color: rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.257);
    margin: 0 auto;
     height:250px;
     border-radius: 10px;
}
.buse{
    font-family: cursive;
    color: rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.257);
    margin: 0 auto;
     height:250px;
     border-radius: 10px;
}
