.golovna{
    width:100%;
   
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: end;

}
.zagolovok{
    width:20% ;
    height:55px ;
   
    margin-right:275px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    width:25% ;
    height:75px ;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.menu_buton{
    width: 15% ;
    height:45px ;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.avto_info{
    width:100% ;
    height:300px ;
    background: rgb(115, 115, 115);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.avto_info_text{
    width:60% ;
    height:250px ;
    font-family: cursive;

}
.avto_info_img{
    width:30% ;
    height:275px ;
    
    background:url(https://lh3.googleusercontent.com/proxy/5tZoMTlBIaXaCYiw9O7Hom4XdSdBUVeWczVPMeC0wcRJrwkHTgEo7_62rcO-cUYeq9PCC42eNhteS3eaa7y7GwUkuQQ) ;
    background-size: 100% 100%;
}
h1{
    font-family: cursive;
}
